# vscoode
.vscode

# data
data/processed
data/raw

# reports
**/*.pdf
*.csv

# model output
output
build

# binary files
bin
program

# todos
todo.md

# libraries directory
# lib
lib/armadillo
lib/Eigen
lib/QCustomPlot
lib/spectra-0.4.0
lib/lambda-lanczos
env

# notebook checkpoints
.ipynb_checkpoints

# python
*.pyc
__pycache__