absl-py==1.2.0
AccessControl==6.1
Acquisition==5.0
aiofiles==22.1.0
aiosqlite==0.19.0
ale-py==0.7.5
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
attrs==23.1.0
AuthEncoding==5.0
autopep8==2.0.1
AutoROM==0.4.2
AutoROM.accept-rom-license==0.4.2
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
BTrees==5.0
cachetools==5.2.0
certifi==2023.7.22
cffi==1.15.1
Chameleon==4.0.0
charset-normalizer==2.1.0
click==8.1.3
cloudpickle==2.1.0
colorama==0.4.5
comm==0.1.3
cycler==0.11.0
DateTime==5.1
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
DocumentTemplate==4.4
executing==1.2.0
ExtensionClass==5.0
fastjsonschema==2.16.3
fonttools==4.34.4
fqdn==1.5.1
google-auth==2.10.0
google-auth-oauthlib==0.4.6
grpcio==1.47.0
gym==0.25.1
gym-notices==0.0.7
idna==3.3
imageio-ffmpeg==0.4.7
importlib-metadata==4.12.0
importlib-resources==5.9.0
ipykernel==6.23.0
ipython==8.12.2
ipython-genutils==0.2.0
isoduration==20.11.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter-ydoc==0.2.4
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_fileid==0.9.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.8.0
jupyterlab==3.6.3
jupyterlab-pygments==0.2.2
jupyterlab_server==2.22.1
kiwisolver==1.4.4
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.6
mistune==2.0.5
MultiMapping==5.0
multipart==0.2.4
nbclassic==1.0.0
nbclient==0.7.4
nbconvert==7.4.0
nbformat==5.8.0
nest-asyncio==1.5.6
notebook==6.5.4
notebook_shim==0.2.3
numpy==1.23.1
oauthlib==3.2.0
packaging==21.3
pandas==1.4.3
pandocfilters==1.5.0
parso==0.8.3
PasteDeploy==3.0.1
Persistence==4.0.post1
persistent==5.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pkgutil_resolve_name==1.3.10
platformdirs==3.5.0
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==3.19.4
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.10.0
pycparser==2.21
pycryptodome==3.18.0
pygame==2.1.0
Pygments==2.15.1
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
python-gettext==5.0
python-json-logger==2.0.7
pytz==2022.1
PyYAML==6.0
pyzmq==25.0.2
requests==2.28.1
requests-oauthlib==1.3.1
RestrictedPython==7.0a1.dev0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
roman==4.1
rsa==4.9
s-dbw==0.4.0
scikit-learn==1.2.1
scipy==1.11.2
seaborn==0.12.2
Send2Trash==1.8.2
six==1.16.0
sniffio==1.3.0
soupsieve==2.4.1
stack-data==0.6.2
terminado==0.17.1
threadpoolctl==3.1.0
tinycss2==1.2.1
tk==0.1.0
tomli==2.0.1
tornado==6.3.1
tqdm==4.64.0
traitlets==5.9.0
transaction==3.1.0
typing_extensions==4.3.0
uri-template==1.2.0
urllib3==1.26.11
waitress==2.1.2
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
WebOb==1.8.7
websocket-client==1.5.1
WebTest==3.0.0
Werkzeug==2.2.1
WSGIProxy2==0.5.1
y-py==0.5.9
ypy-websocket==0.8.2
z3c.pt==4.0
zc.lockfile==3.0.post1
ZConfig==4.0
zExceptions==4.3
zipp==3.8.1
ZODB==5.8.0
zodbpickle==3.0.1
zope.browser==3.0
zope.component==6.0
zope.configuration==5.0
zope.contentprovider==5.0
zope.contenttype==5.1
zope.deferredimport==5.0
zope.deprecation==5.0
zope.event==5.0
zope.exceptions==5.0.1
zope.hookable==5.4
zope.i18n==5.1
zope.i18nmessageid==6.0.1
zope.interface==6.0
zope.location==5.0
zope.proxy==5.0.0
zope.publisher==7.0
zope.schema==7.0.1
zope.security==6.1
zope.sequencesort==5.0
zope.structuredtext==5.0
zope.tales==6.0
zope.testing==5.0.1
zope.traversing==5.0
